
	<div class="container" style="width: 60%">
		<h1>Book Room</h1>


		<form class="form-horizontal" action="/confirmation">
			<!--
			<div class="form-group">
				<label class="col-sm-3 control-label" for="inputEmail3">First Name</label>

				<div class="col-sm-9">
					<input class="form-control" id="first_name" name="first_name" placeholder="First Name" type="text">
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label" for="inputEmail3">Last Name</label>

				<div class="col-sm-9">
					<input class="form-control" id="last_name" name="last_name" placeholder="Last Name" type="text">
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label" for="inputPassword3">Date of Birth</label>

				<div class="col-sm-9">
					<input class="form-control" id="dob" name="dob" placeholder="Date of Birth" type="text">
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label" for="inputEmail3">Email Address</label>

				<div class="col-sm-9">
					<input class="form-control" id="email_address" name="email_address" placeholder="Email Address" type="email">
				</div>
			</div>
-->

			<div class="form-group">
				<label class="col-sm-3 control-label" for="inputEmail3">Confirm Email Address</label>

				<div class="col-sm-9">
					<input class="form-control" id="confirm_email" name="confirm_email" placeholder="Email Address" type="email">
				</div>
			</div>
			<!--
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="inputEmail3">Address</label>

				<div class="col-sm-9">
					<input class="form-control" id="address_1" name="address_1" placeholder="Line 1" type="text">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="inputEmail3"></label>

				<div class="col-sm-9">
					<input class="form-control" id="address_2" name="address_2" placeholder="Line 2" type="text">
				</div>
			</div>
			-->
			<div class="form-group">
				<label class="col-sm-3 control-label" for="inputEmail3">Special Requirements</label>

				<div class="col-sm-9">
					<textarea class="form-control" id="special_req" name="special_req" placeholder="Special Requirements" type="text" style="height: 70px" rows="4"></textarea>
				</div>
			</div>
			

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button class="btn btn-default" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
